.navigation {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 100000;
    min-height: 100px;
    padding: 25px 0;
    border-bottom: 1px solid hsla(0,0%,100%,.08);
    background-color: hsla(0,0%,100%,.9);
    .container-navigation {
        display: flex;
        width: 86%;
        max-width: none;
        margin-right: auto;
        margin-left: auto;
        justify-content: space-between;
        flex: 1;
        .navigation-block-left {
            display: flex;
            width: 50%;
            align-items: center;
        }
        .navigation-link-wrap {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            .navigation-link-nu {
                display: flex;
                margin-right: 40px;
                padding: 12px 14px;
                flex-direction: row;
                align-items: center;
                border-bottom: 2px solid transparent;
                transition: 250ms ease-in-out;
                font-family: Roboto,sans-serif;
                color: #bcbcbc;
                font-size: 16px;
                text-decoration: none;
                &:hover {
                    border-style: solid;
                    border-width: 0 0 2px;
                    border-color: red;
                    border-radius: 0;
                    color: #484dff;
                }
                .navigation-text-nu {
                    width: 100%;
                    transition: 250ms;
                    font-family: Roboto,sans-serif;
                    color: #12142d;
                    font-size: 15px;
                    text-decoration: none;
                }
            }
        }
    }
}